<section class="main-visual">
  <div>
    <video playsinline autoplay muted loop>
      <source src="videos/video1.m4v" type="video/mp4">
    </video>
    <div class="intro-text">
        <div class="intro-heading">
          <div>「何ができるようになるか」</div>
          <div>で会社を選べる世界に</div>
        </div>
        <a class="btn btn-xl js-scroll-trigger top-button" href="#services">Tieraとは</a>
        <a class="btn btn-xl js-scroll-trigger top-button" href="/posts">今すぐ見る</a>
    </div>
  </div>
</section>