<section class="main-visual">
  <video playsinline autoplay muted loop>
    <source src="/videos/video1.m4v" type="video/mp4">
  </video>
  <div class="main-visual__txt">
    <h2>Tiera</h2>
    <p>あなたにできることから<br>始めよう</p>
  </div>
  <div class="signup_btn">
    <%= link_to "いますぐ見る", posts_path, class: "btn btn-primary" %>
  </div>
</section>