<header class="masthead">
  <div>
    <div class="intro-text">
      <div class="intro-heading">
        <div>「ゴミ拾い」で世界を救う</div>
        <div>ずっと先のことでも、いまからつながってる。</div>
      </div>
      <a class="btn btn-xl js-scroll-trigger top-button" href="#about">Tieraとは</a>
      <a class="btn btn-xl js-scroll-trigger top-button" href="/posts">今すぐ見る</a>
    </div>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><strong>Tiera</strong></h2>
        <h3 class="section-subheading text-muted">
          今世界中で注目されてる環境問題。<br>地球温暖化、異常気象、海洋プラスチックなど問題はたくさんあります。<br>
          ゴミ拾いという小さい事かもしれませんが、あなたの行動が<span class="marker">Tiera(地球)</span>を救います
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">今日から気軽にできる社会貢献SNS</h2>
        <a class="btn btn-xl index-button" href="/users/sign_up">今すぐ新規登録</a>
      </div>
    </div>
  </div>
</section>

<section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-center">Tieraでできること</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="intro_box slide-bottom-1 show">
          <div class="intro_txt_box">
            <div class="row">
              <p class="txt_size_l col-xs-7"><span class="marker">拾ったゴミを投稿する</span></p>
            </div>
            <p class="txt_size_m">
              私たちの身の回りには多くのゴミで溢れています。それらを拾い、投稿しましょう！
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="intro_box slide-bottom-2 show">
          <div class="intro_txt_box">
            <div class="row">
              <p class="txt_size_l col-xs-7"><span class="marker">ありがとう</span>と<span class="marker">コメント</span></p>
            </div>
            <p class="txt_size_m">
              ゴミを拾ってくれたユーザーに対して感謝のありがとうボタンを押したり、コメントをしましょう！
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="intro_box slide-bottom-3 show">
          <div class="intro_txt_box">
            <div class="row">
              <p class="txt_size_l col-xs-4"><span class="marker">フォロー</span></p>
            </div>
            <p class="txt_size_m">
              気になったユーザーをフォローでき、マイページでフォローしているユーザーの投稿を確認できます。
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="intro_box slide-bottom-4 show">
          <div class="intro_txt_box">
            <div class="row">
              <p class="txt_size_l col-xs-4"><span class="marker">マップ機能</span></p>
            </div>
            <p class="txt_size_m">
              ユーザーがゴミを拾った場所をピンで立てどの場所でゴミが出ているかわかります。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if user_signed_in? %>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">投稿する</h2>
          <h3 class="section-subheading text-muted">さっそく気軽に投稿してみましょう！！</h3>
          <a class="btn btn-xl index-button" href="/posts/new">投稿</a>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">無料会員登録</h2>
          <h3 class="section-subheading text-muted">１分の新規登録ですぐに使用できます</h3>
          <a class="btn btn-xl index-button" href="/users/sign_up">今すぐ新規登録</a>
        </div>
      </div>
    </div>
  </section>
<% end %>

<div class="start">
    <p><%= image_tag asset_path("logo11.png") %></p>
</div>

<script src="assets/javascripts/script.js"></script>

