<div class="container padding-top">
	<h1>投稿を編集する</h1>

	<%= render 'form', post: @post %>

	  <div>
	      <%= link_to '', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn-default btn glyphicon glyphicon-trash' %>
	  </div>
 </div>