<div class="container-fluid">
	<div class="row">
		<div class="show">
			<div class="show__maps center-block" id="show_map" style="height: 450px;"></div>
		</div>
		<div class="col-sm-2 hidden-xs sidebar">
    	<div class="total_garbage">
    		<h3>拾ったゴミの合計</h3>
    	</div>
    	<div class="users">
    		<h3>人気のユーザー</h3>
    	</div>
    </div>
		<div class="col-sm-10">
      <%= render 'index',posts: @posts %>
    </div>
	</div>
</div>