<div class="container">
	<div class="row">
		<div class="show">
			<div class="show__maps" id="show_map" style="height: 320px; width: 80%;"></div>
		</div>
		<%= render 'index',posts: @posts %>
    </div>
</div>