<div class="container">
	<div class="row">
		<div class="show">
			<div class="show__maps center-block" id="show_map" style="height: 400px; width: 90%;"></div>
		</div>
	</div>

	<%= render 'index',posts: @posts %>
</div>