<div class="container">
	<div class="row">
		<h2>活動を投稿する</h2>
	    <%= render 'form', post: @post, url: posts_path %>
	</div>

  <%= link_to posts_path do %>
    <i class="fa fa-arrow-circle-left fa-fw"></i> 戻る
  <% end %>
</div>