/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "font-awesome-sprockets";
 @import "font-awesome";

 * {
  margin: 0;
  padding: 0;
}

body {
   font-family: 'Noto Sans JP', sans-serif;
   padding-top: 80px;
   background-color: #F0F8FF;
   color: #5e5e5e;
   min-height: 100vh;
   position: relative;
   padding-bottom: 120px;
   box-sizing: border-box;

   &:visited {
     color: #5e5e5e;
  }

  &:hover {
     text-decoration: none;
  }

  a {
     text-align: center;
     color: #5e5e5e;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

.margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-top30 {
  margin-top: 30px;
}

.margin-top60 {
  margin-top: 60px;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 10px;
}

/*------------ヘッダー-------------*/
.logo {
  width: 200px;
  margin: 8px;
  &:hover {
    opacity: .6;
    text-decoration: none;
  }
}

.img-rounded {
  border-radius: 6px;
}

.img-rounded-opacity {
  border-radius: 6px;
  &:hover {
    opacity: 0.6;
  }
}

.profile-image-icon {
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 0.3px #E2E2E2;
  &:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
  }
}

.profile-name {
  text-decoration: none;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 10px;
}

li .icon {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 15px;
}

.nav-dropdown {
  margin-top: 15px;
}

.navbar {
  background-color: #FFF;
}

.navbar-default .navbar-nav li a {
  color:#393F6A;
}

// // 検索
// .search_container{
//   position: relative;
//   box-sizing: border-box;
//   border: 2px solid #3879D9;
//   padding: 3px 10px;
//   border-radius: 3px;
//   height: 2.3em;
//   width: 265px;
//   overflow: hidden;
// }
// .search_container input[type="text"]{
//   border: none;
//   height: 2.0em;
// }
// .search_container input[type="text"]:focus {
//   outline: 0;
// }
// .search_container input[type="submit"]{
//   cursor: pointer;
//   font-family: FontAwesome;
//   border: none;
//   background: #3879D9;
//   color: #fff;
//   position: absolute;
//   width: 3.5em;
//   height: 3.0em;
//   right:0px;
//   top: -5px;
//   outline : none;
// }

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  .logo {
    width: 200px;
    margin: 8px;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .logo {
    width: 200px;
    margin: 8px;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .logo {
    width: 120px;
    margin: 8px;
  }
}

/*------------フッター-------------*/
footer {
  background-color: #FFF;
  height: 100px;
  width: 100%;
  border-top: solid 0.2px gray;
  padding: 30px 0;
  position: absolute;
  bottom: 0;

  & .copyright {
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
  }

  & .footer-text  {
    opacity: 0.9;
    color: #383838;
    text-decoration: none;
  }
}

/*------------ログイン-------------*/
@media (min-width: 768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
}

.omb_login .omb_authTitle {
  text-align: center;
  line-height: 300%;
}

.omb_login .omb_socialButtons a {
  color: white;
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
  color: white;
  opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}
/*------------ページネーション------------*/

.pagination > li > a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */

.pagination > .active > a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 15px;
}

/*------------画像------------*/

.update-img {
  width: 150px;
}

.img {
  object-fit: cover;
  box-shadow:  5px 10px 20px rgba(0,0,0,0.25);

  &:hover {
    opacity: .5;
    transition: transform 0.3s ease;
  }
  
  &-show {
    width: 500px;
  }
}