// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// スプラッシュ画面
.start {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}
.start p {
  position: fixed;
  left: 43%;
  top: 45%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 280px;
}