// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.resultTableContent{
  border-radius: 4px;
  background-color: #dbebfb;
  padding: 0px 10px 0px 10px;

}

.resultArea{
  margin-top: 10px;
  text-align: center;
}


.hidden{
  display: none;
}


.map {
	margin-top:15px 0;
}

.show-pic {
	margin: 15px;
}

.post-comment {
	margin: 7px;
}

.comment {
	background-color: #F0F8FF;
	border-radius: 5px;
}
.btn {
	margin: 7px;
}

.show-area {
  color: #393F6A;
}

.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

// index ページ
.show-pic {
  margin: 10px;
}

.info {
  border: thin solid gray;
  border-radius: 1em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  background-color: white;
  margin: 50px 15px;
}

.title {
  border-bottom: thin solid gray;
  padding: 0 0 15px 10px;
}

.post-info {
  display: inline-block;
}

.posts-index {
  border-bottom: thin solid gray;
  padding: 10px;
}

.post-user-content {
  padding-top: 10px;
  padding-left: 15px;
}

.companyHr{
  margin-top: 15px;
}

.img {
  width: 280px;
  height: 280px;
}

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  .img{
  	width: 150px;
  	height: 150px;
  }
}

/* スマートフォンサイズ（992px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .map {
  	margin-top:10px;
  	margin-bottom:10px;
  	height: 280px;
  	width: 500px;
  }
  .img{
  	width: 200px;
  	height: 200px;

  }
}

@media screen and (max-width:640px) {
  .img{
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width:540px) {
  .img{
    width: 150px;
    height: 150px;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .img{
  	width: 150px;
  	height: 150px;
  }
}

@media screen and (max-width:400px) {
  .img{
    width: 120px;
    height: 120px;
  }
}