a.top-button {
  display: inline-block;
  font: normal normal 300 1.3em 'Open Sans';
  margin: 5px;

  @media (min-width: 650px) {
    font: normal normal 300 1.9em 'Open Sans';
    margin: 20px;
    color: #fed136;
    background-color: transparent;
    border: 1px solid #fed136;
    border-radius: 100px;
    padding: .5em 2em;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, #fed136 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  }
}

a.top-button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #fed136;
  background-position: -100% 100%;
}

a.index-button {
  display: inline-block;
  font: normal normal 300 1.9em 'Open Sans';
  margin: 20px;
  color: #6c757d;
  background-color: transparent;
  border: 1px solid #6c757d;
  border-radius: 100px;
  padding: .5em 2em;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #fed136 50%);
  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

a.index-button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #fed136;
  background-position: -100% 100%;
  border: 1px solid #fed136;
}

section {
  padding: 100px 0;

  & h2.section-heading {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  & h3.section-subheading {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 25px;
    text-transform: none;
    line-height: 2em;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

@media (min-width: 992px) {
  header.masthead {
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),image-url("globe.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    & .intro-text {
      padding-top: 150px;
      padding-bottom: 100px;

      & .intro-lead-in {
        font-size: 22px;
        font-style: italic;
        line-height: 22px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      & .intro-heading {
        font-size: 28px;
        font-weight: 700px;
        line-height: 50px;
        margin-bottom: 25px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
    }
  }
}

@media (min-width: 650px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;

    & .intro-lead-in {
      font-size: 45px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    & .intro-heading {
      font-size: 45px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;

    & .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    & .intro-heading {
      font-size: 55px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
}

// 機能紹介
#intro {
  padding-top: 50px;
}

.intro_box {
  overflow: solid;
  align-items: center;
  margin-top: 20px;
}

.intro_txt_box {
  box-shadow: 0 0 10px 10px #eceff1;
  padding: 20px 20px 20px 50px;
  background-color: #fff;
  border-radius: 15px;
  z-index: 20;
}

.txt_color {
  color: #f4a460;
}

.intro_count {
    font-size: 50px;
    top: 10px;
    left: 10px;
}

.txt_size_l {
    font-size: 25px;
    margin: 20px 0px;
}

.txt_size_m {
    font-size: 18px;
    margin: 20px 0px;
}

.marker {
  background: linear-gradient(transparent 70%, #66CDAA 70%);
  font-weight: bold;
  font-size: 24px;
}
