<!-- <footer class="footer__bg txt_size_s">
    <div class="container">
	    <div class="row.footer__size">
		    <p class="copyright">© Copyright 2020 Tiera, inc. All rights reserved.
		      <br>株式会社 Tiera.com
		    </p>
	    </div>
    </div>
</footer> -->